body {
    background-color: rgb(24, 22, 22);
}


.container {
    background-color: blanchedalmond;
    text-align: left;
    height: 2000px;
    width: 600px;
    align-items: center;
    padding: 30px;
    margin: 30px auto;
    border: 5px solid maroon;
    font-family: 'optima', 'Copperplate' 'Arial Narrow', Arial, sans-serif;
}

img {
    height: auto;
    width: 250px;
}

p {
    font-size: 25px;
}

.thumbnail {
    height: auto;
    width: 150px;
}

.index {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

li {
    font-weight: bold;
    font-size: 22px;
}

h1 {
    color: maroon;
    font-weight: bolder;
    font-size: 75px;
    text-shadow: 1px 1px black;
}

a {
    color: maroon;
}

h2 {
    color: maroon;
}
